save-exact = true
shamefully-hoist=true
registry=https://registry.npmmirror.com
chromedriver_cdnurl=https://registry.npmmirror.com/mirrors/chromedrive
ENTRYCLI_CDNURL=https://cdn.npmmirror.com/binaries/sentry-cli
sentrycli_cdnurl=https://cdn.npmmirror.com/binaries/sentry-cli
sass_binary_site=https://registry.npmmirror.com/mirrors/node-sass/
sharp_dist_base_url=https://registry.npmmirror.com/mirrors/sharp-libvips
electron_mirror=https://registry.npmmirror.com/mirrors/electron
puppeteer_download_host=https://registry.npmmirror.com/mirrors
phantomjs_cdnurl=https://registry.npmmirror.com/mirrors/phantomjs
sqlite3_binary_site=https://registry.npmmirror.com/mirrors/sqlite3
python_mirror=https://registry.npmmirror.com/mirrors/python
